/* General styles for larger screens */
body {
    background-image: url('images/landing-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Copperplate Gothic', 'Copperplate Gothic Light', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Ensure a minimum viewport height */
    margin: 0; /* Remove body margin to avoid extra space */
}

.gap-text h6 {
    color: #fed206; /* Inner color */
    font-size: 100px;
    -webkit-text-stroke: 3px #986533; /* Stroke effect */
}

/* Media query for smaller screens (e.g., mobile devices) */
@media (max-width: 375px) {
    .gap-text h6 {
        font-size: 50px;
    }

    /* Center text for portrait orientation */
    @media (orientation: portrait) {
        .gap-text {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}

.circular-container {
    height: 120px;
    width: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid #986533;
    border-radius: 50%;
    overflow: hidden;
}
